<footer id="pie">
    <p>
        © 2025 Alejandro Gálvez | Contacto:
        <a href="mailto:alejandro.galvez@email.com">alejandro.galvez@email.com</a>
    </p>
    <p>
        Sígueme en
        <a href="https://twitter.com/alejgalvez" target="_blank">Twitter</a>
        |
        <a href="https://github.com/alejgalvez" target="_blank">GitHub</a>
    </p>
</footer>
